@charset "utf-8";
/* CSS Document */

#rongqi
{
	text-align:center;
	background:url(img/u9.png);
	width:640px;
	margin:20px auto;
}

#touxiangdiv
{ 	
	margin:50px;
	display:inline-block;
	width: 200px;   
	height: 200px;    
	background: #ececec;   
	border-radius:200px;   
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);  
	-moz-border-radius: 200px;   
	-webkit-border-radius: 200px;
	border: #CF0 solid 2px;
}

#touxiang
{
	
	height:200px;
	width:200px
	line-height: 0;		/* remove line-height */     
	display: inline-block;	/* circle wraps image */   
	border-radius: 50%;	/* relative value */   
	-moz-border-radius: 50%;   
	-webkit-border-radius: 50%;   
	transition: linear 0.25s;
}

#shuxian
{
	height:20px;
}

.wugeshia1
{
	width:610px;
	display:block;
	font-size:25px;
	color:#FFF;
	font-weight:bold;
	padding:25px;
	margin:20px auto;
	border:none;
	font-family:"黑体";
	background-color:transparent;
	background:url(img/u14.png) no-repeat;
	
}

.wugeshia2
{
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	color:#09C;
}

#shurukuang1
{
	float:right;
	width:80%;
	height:50px;
	font-size:30px;
	border-style:none
}

#shurukuang2
{
	float:right;
	width:80%;
	height:50px;
	font-size:30px;
	border-style:none
}

#shururongqi
{
	background-color:#FFF;
	height:100px;
}